<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

        <!-- 引入外部数据源配置信息 -->
        <bean
                class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="locations">
                <value>classpath:main/java/iptv/config/jdbc.properties</value>
            </property>
        </bean>

        <!-- 配置数据源 -->
        <bean id="dataSource"
              class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="${jdbc.driver}"></property>
            <property name="url" value="${jdbc.url}"></property>
            <property name="username" value="${jdbc.username}"></property>
            <property name="password" value="${jdbc.password}"></property>
        </bean>

        <!-- 配置Session工厂 -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <property name="dataSource" ref="dataSource"></property>
            <!-- 加载mybatis.cfg.xml文件 -->
            <property name="configLocation" value="classpath:main/java/iptv/config/mybatis.cfg.xml"/>
            <!-- 自动扫描Mapper -->
            <property name="mapperLocations" value="classpath*:main/java/iptv/*/sql/*.xml"/>

            <!-- 自动扫描需要定义类别名的包，将包内的JAVA类的类名作为类别名 -->
            <!-- <property name="typeAliasesPackage" value="com.iptv.app.beans"></property> -->
        </bean>
        <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
            <constructor-arg index="0" ref="sqlSessionFactory"/>
            <!--<constructor-arg index="1" value="BATCH" /> -->
        </bean>
        <bean id="basicDao" class="main.java.iptv.core.dao.BasicDaoImpl">
            <!--注入SqlSessionTemplate实例 -->
            <property name="sqlSessionTemplate" ref="sqlSession"/>
        </bean>

        <!-- 自动扫描所有的Mapper接口与文件 -->
        <!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> <property
            name="basePackage" value="com.iptv.app.mapper"></property> </bean> -->
</beans>